
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 50% 99%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 210 100% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 160 84% 39%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215 16% 47%;

    --accent: 230 100% 97%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 70%;

    --radius: 0.5rem;

    --sidebar-background: 210 100% 50%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 210 100% 50%;
    --sidebar-accent: 208 100% 97%;
    --sidebar-accent-foreground: 210 100% 50%;
    --sidebar-border: 213 100% 96%;
    --sidebar-ring: 222 84% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .btn-menu {
    @apply flex items-center p-3 my-1 gap-3 rounded-md hover:bg-healthblue-100 transition-colors text-healthblue-950;
  }

  .btn-menu.active {
    @apply bg-healthblue-50 font-medium;
  }
}
